<h1>Novo Produto</h1>

<%= render 'form' %>

<%= link_to 'Voltar', products_path %>
<%= link_to 'Home', pages_index_path %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js" ></script>

<script type="text/javascript">
        $(document).ready(function(){
              $("input.dinheiro").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
        });
    </script>